/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json

organizations/fabric-ca/ordererOrg/*
!organizations/fabric-ca/ordererOrg/fabric-ca-server-config.yaml

organizations/fabric-ca/supplier/*
!organizations/fabric-ca/supplier/fabric-ca-server-config.yaml

organizations/fabric-ca/manufacturer/*
!organizations/fabric-ca/manufacturer/fabric-ca-server-config.yaml

organizations/fabric-ca/distributor/*
!organizations/fabric-ca/distributor/fabric-ca-server-config.yaml

organizations/fabric-ca/retailer/*
!organizations/fabric-ca/retailer/fabric-ca-server-config.yaml

organizations/ordererOrganizations/*
organizations/peerOrganizations/*

system-genesis-block/*
*.tar.gz
log.txt
